@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  background: #c8e3fa;
  font-size: 1.8rem;
  height: 100vh;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin: 2rem;
  max-width: 75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  padding: 3rem 1rem;
}

span {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.container-header h1 {
  font-size: 2.4rem;
  text-align: center;
  line-height: 110%;
  padding: 1.6rem 1.6rem 0 1.6rem;
  text-transform: uppercase;
  color: #3d3f66;
}
.container-header h1::after {
  content: '';
  width: 60%;
  height: 0.3rem;
  background-color: #7a55fd;
  display: flex;
  margin: 0.5rem auto;
}
.container-header p {
  padding: 0 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #7e8096;
  text-transform: uppercase;
}
.container-home {
  padding: 2rem;
  flex-direction: column;
  border-radius: 1rem;
  width: 90%;
  text-align: center;
}
.container-home h4 {
  color: #727272;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.container-home input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #cacaca;
  margin-bottom: 0.5rem;
  outline: none;
}

.container-home button {
  width: 100%;
  height: 5rem;
  background-color: #7a55fd;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 1.2rem;
  color: #fff;
}

#resultado {
  font-size: 1.8rem;
}
.content-btn-up {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.6rem;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.content-btn-up .b1 {
  display: flex;
  width: 100%;

  background-color: #ff6968;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: white;
}
.content-btn-up .b2 {
  display: flex;
  /* width: 100%; */

  background-color: #7a55fd;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: white;
}

.content-result p {
  font-size: 2rem;
}
.content-result p span {
  font-weight: bold;
}

.content-block-blue.hidden {
  display: none;
}
.content-block-6in1.hidden {
  display: none;
}
